<!DOCTYPE html>
<html lang="ru">

<head>
	<title>О нас</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="block-intro main-block-intro block1">
				<div class="container">
					<div class="block-intro__content">
						<img src="img/bg2.webp" alt="" class="block-intro__bg">
						<div data-watch data-watch-once class="block-intro__top top-block-intro watch">
							<div class="top-block-intro__body">
								<h1 class="title1">О нас</h1>
								<p>
									Топим мёд.<br> Топим за мёд
								</p>
							</div>
							<div class="top-block-intro__image">
								<img src="img/image1.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-about block1">
				<div class="container">
					<div data-watch data-watch-once class="block-about__content watch">
						<div class="block-about__image">
							<img loading="lazy" src="img/image8.webp" alt="" class="block-about__pic1">
							<img loading="lazy" src="img/image9.webp" alt="" class="block-about__pic2">
						</div>
						<div class="block-about__body">
							<div class="block-about__titles">
								<h2 class="title2">
									Мы — медоварня со степным характером
								</h2>
								<svg aria-hidden="true" width="65" height="54">
									<use xlink:href="img/sprite.svg#quote"></use>
								</svg>
							</div>
							<div class="block-about__subtitle">
								<p>
									На границе Европы и Азии, где дуют сильные ветра и можно увидеть, как далеко летают
									пчёлы
								</p>
								<img loading="lazy" src="img/image7.webp" alt="">
							</div>
							<div class="block-about__bottom">
								<p>
									(с) Данила Иванов, основатель и руководитель медоварни
								</p>
								<img loading="lazy" src="img/image7.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-about-showcase block1">
				<div class="container">
					<div data-watch data-watch-once class="block-about-showcase__content watch">
						<img loading="lazy" src="img/bg3.webp" alt="" class="block-about-showcase__bg1">
						<div class="block-about-showcase__body">
							<div class="block-about-showcase__titles">
								<h2 class="title2">
									Делаем напитки в оренбурге известные на весь мир
								</h2>
								<ul>
									<li>
										Регулярно создаём новые вкусы
									</li>
									<li>
										Добиваемся идеального соотношения мёда с ингредиентами
									</li>
									<li>
										В составе только то, что дарит природа: мёд, ягоды, фрукты, травы
									</li>
								</ul>
							</div>
							<a href="#" class="btn btn-orange">
								<span>Витрина</span>
								<div class="btn-circle btn-circle-orange">
									<svg aria-hidden="true" width="17" height="16">
										<use xlink:href="img/sprite.svg#arrow1"></use>
									</svg>
								</div>
							</a>
						</div>
						<div data-da=".block-about-showcase__titles, 992" class="block-about-showcase__images">
							<img loading="lazy" src="img/products/image13.webp" alt=""
								class="block-about-showcase__pic1">
							<img loading="lazy" src="img/products/image14.webp" alt=""
								class="block-about-showcase__pic2">
							<img loading="lazy" src="img/products/image15.webp" alt=""
								class="block-about-showcase__pic3">
							<div class="block-about-showcase__circle">
								Только мёд
								Без сахара
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block block-about1 block1">
				<div class="container">
					<div data-watch data-watch-once class="block__content watch">
						<img loading="lazy" src="img/bg4.webp" alt="" class="block__bg">
						<div class="block__left">
							<div class="block__top">
								<h2 class="title2">
									Наша Миссия —
								</h2>
								<div class="block__subtitle">
									производить топовые напитки из местного сырья, вызывать самые теплые эмоции у людей
									во
									всем мире
								</div>
							</div>
						</div>
						<div class="block__right">
							<div class="block__titles">
								<div class="block__title">
									Популяризировать крафтовую культуру и культуру употребления напитков
								</div>
							</div>
							<div class="block__pic">
								<img loading="lazy" src="img/image10.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-began block1">
				<div class="container">
					<div data-watch data-watch-once class="block-began__content watch">
						<h2 class="title2">
							Как всё начиналось
						</h2>
						<div class="block-began__body">
							<div class="block-began__left">
								<div class="block-began__top">
									<div class="block-began__title">
										идея
										медоварни
										«новой
										школы»
									</div>
									<span>2014</span>
								</div>
								<div class="block-began__bottom">
									<p>
										2014 год выдался особенно урожайным на нашей семейной пасеке. Тогда зародилась
										идея медоварения, но не того сельского напитка, от которого отнимаются ноги, а
										мёда «новой школы»: красивого и ароматного медово-фруктового вина, который
										займет свое достойное место рядом с другими благородными напитками.
									</p>
								</div>
							</div>
							<div class="block-began__right">
								<div class="block-began__slider swiper">
									<div class="block-began__wrapper swiper-wrapper">
										<div class="block-began__slide slide-block-began swiper-slide">
											<div class="slide-block-began__item">
												<div class="slide-block-began__top">
													<div class="slide-block-began__title">
														Основание компании
														«Степь и Ветер»
													</div>
													<div class="slide-block-began__image">
														<video playsinline autoplay muted loop
															src="files/videos/video.mp4">
															<source src="files/videos/video.mp4" type="video/mp4">
														</video>
													</div>
												</div>
												<div class="slide-block-began__bottom">2017</div>
											</div>
										</div>
										<div class="block-began__slide slide-block-began swiper-slide">
											<div class="slide-block-began__item">
												<div class="slide-block-began__top">
													<div class="slide-block-began__title">
														Наладили экспорт в Европу и СНГ
													</div>
													<div class="slide-block-began__image">
														<img loading="lazy" src="img/image11.webp" alt="">
													</div>
												</div>
												<div class="slide-block-began__bottom">2020</div>
											</div>
										</div>
										<div class="block-began__slide slide-block-began swiper-slide">
											<div class="slide-block-began__item">
												<div class="slide-block-began__top">
													<div class="slide-block-began__title">
														Запустили баночную линию
													</div>
													<div class="slide-block-began__image">
														<img loading="lazy" src="img/image12.webp" alt="">
													</div>
												</div>
												<div class="slide-block-began__bottom">2021</div>
											</div>
										</div>
										<div class="block-began__slide slide-block-began swiper-slide">
											<div class="slide-block-began__item">
												<div class="slide-block-began__top">
													<div class="slide-block-began__title">
														перешли с банки 330 мл на 450 мл, комбуча
													</div>
													<div class="slide-block-began__image">
														<img loading="lazy" src="img/image13.webp" alt="">
													</div>
												</div>
												<div class="slide-block-began__bottom">2022</div>
											</div>
										</div>
										<div class="block-began__slide slide-block-began swiper-slide">
											<div class="slide-block-began__item">
												<div class="slide-block-began__top">
													<div class="slide-block-began__title">
														Обустроили парк и территорию завода
													</div>
													<div class="slide-block-began__image">
														<img loading="lazy" src="img/image14.webp" alt="">
													</div>
												</div>
												<div class="slide-block-began__bottom">2023</div>
											</div>
										</div>
										<div class="block-began__slide slide-block-began swiper-slide">
											<div class="slide-block-began__item">
												<div class="slide-block-began__top">
													<div class="slide-block-began__title">
														Сотрудничество с сетью Вкусвилл
													</div>
													<div class="slide-block-began__image">
														<img loading="lazy" src="img/image15.webp" alt="">
													</div>
												</div>
												<div class="slide-block-began__bottom">2023</div>
											</div>
										</div>
										<div class="block-began__slide slide-block-began swiper-slide">
											<div class="slide-block-began__item">
												<div class="slide-block-began__top">
													<div class="slide-block-began__title">
														Запустили вторую баночную линию
													</div>
													<div class="slide-block-began__image">
														<img loading="lazy" src="img/image16.webp" alt="">
													</div>
												</div>
												<div class="slide-block-began__bottom">2024</div>
											</div>
										</div>
										<div class="block-began__slide slide-block-began swiper-slide">
											<div class="slide-block-began__item">
												<div class="slide-block-began__top">
													<div class="slide-block-began__title">
														запустили безалкогольную линейку
													</div>
													<div class="slide-block-began__image">
														<img loading="lazy" src="img/image17.webp" alt="">
													</div>
												</div>
												<div class="slide-block-began__bottom">2024</div>
											</div>
										</div>
									</div>
								</div>
								<div class="block-began__arrow-prev btn-circle btn-circle-orange arrow-prev">
									<svg aria-hidden="true" width="7" height="12">
										<use xlink:href="img/sprite.svg#arrow2"></use>
									</svg>
								</div>
								<div class="block-began__arrow-next btn-circle btn-circle-orange arrow-next">
									<svg aria-hidden="true" width="7" height="12">
										<use xlink:href="img/sprite.svg#arrow2"></use>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-production block1">
				<div class="container">
					<div data-watch data-watch-once class="block-production__content watch">
						<img loading="lazy" src="img/bg5.webp" alt="" class="block-production__bg">
						<div class="block-production__top top-block-production">
							<div class="top-block-production__titles">
								<h2 class="title2">
									Производство
								</h2>
								<img loading="lazy" src="img/image7.webp" alt="" class="top-block-production__pic1">
							</div>
							<div class="top-block-production__line">
								<img loading="lazy" src="img/line1.webp" alt="">
							</div>
							<div class="top-block-production__texts">
								<div class="top-block-production__text">
									<p>
										Используем метод холодного роспуска мёда, без варки. Это позволяет ингредиентам
										сохранять свои полезные свойства
									</p>
								</div>
								<div class="top-block-production__text">
									<p>
										Процесс пастеризации и правильные температурные режимы позволяют продуктам не
										портиться без использования консервантов и прочих лишних ингредиентов
									</p>
								</div>
								<div class="top-block-production__text">
									<p>
										Используем только мёд, ягоды, фрукты, фруктовые пюре, натуральные соки, винные
										дрожжи, воду, специи
									</p>
								</div>
								<div class="top-block-production__text">
									<p>
										Проверяем вкус, меняем процентное соотношение ингредиентов даже в зависимсоти от
										погодных условий, чтобы вкус оставался стабильным и качественным
									</p>
								</div>
							</div>
						</div>
						<div class="block-production__bottom bottom-block-production">
							<video playsinline autoplay muted loop src="files/videos/video.mp4">
								<source src="files/videos/video.mp4" type="video/mp4">
							</video>
							<div class="bottom-block-production__marguee">
								<p>
									Экскурсия на производство
								</p>
								<p>
									Экскурсия на производство
								</p>
								<p>
									Экскурсия на производство
								</p>
								<p>
									Экскурсия на производство
								</p>
							</div>
							<div class="bottom-block-production__body">
								<div class="bottom-block-production__titles">
									<h2 class="title2">
										Посетите медоварню
									</h2>
									<p>
										Это возможность увидеть своими глазами, как производится один из самых древних
										напитков в мире на современной крафтовой медоварне и узнать множество интересных
										фактов о мёде и производстве напитков
									</p>
								</div>
								<a href="#" data-popup="#excursions" class="btn btn-orange">
									<span>Записаться на экскурсию</span>
									<div class="btn-circle btn-circle-orange">
										<svg aria-hidden="true" width="17" height="16">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block block-about2 block1">
				<div class="container">
					<div data-watch data-watch-once class="block__content watch">
						<img loading="lazy" src="img/bg6.webp" alt="" class="block__bg">
						<div class="block__left">
							<div class="block__top">
								<h2 class="title2">
									Тапрум - бар, работающий прямо при производстве
								</h2>
								<div class="block__subtitle">
									От английского таP — кран, Room — комната
								</div>
								<ul>
									<li>дегустации</li>
									<li>лекции</li>
									<li>выставки</li>
									<li>экскурсии</li>
									<li>выступления dj</li>
									<li>интеллектуальные вечера</li>
									<li>и многое другое</li>
								</ul>
							</div>
							<a href="https://xn--80ayiehj.xn--p1ai/" class="btn btn-orange">
								<span>Подробнее</span>
								<div class="btn-circle btn-circle-orange">
									<svg aria-hidden="true" width="17" height="16">
										<use xlink:href="img/sprite.svg#arrow1"></use>
									</svg>
								</div>
							</a>
						</div>
						<div class="block__right">
							<div class="block__titles">
								<div class="block__title">
									Выпускаем крутой мерч «Степь и Ветер»
								</div>
								<a href="#" class="btn-circle btn-circle-orange arrow-next">
									<svg aria-hidden="true" width="17" height="16">
										<use xlink:href="img/sprite.svg#arrow1"></use>
									</svg>
								</a>
							</div>
							<div class="block__pic">
								<img loading="lazy" src="img/image19.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block block-about3 block1">
				<div class="container">
					<div data-watch data-watch-once class="block__content watch">
						<img loading="lazy" src="img/bg7.webp" alt="" class="block__bg">
						<div class="block__left">
							<div class="block__top">
								<h2 class="title2">
									ежегодный Фестиваль «Степная история»
								</h2>
								<div class="block__subtitle">
									Мы мечтаем сделать Оренбург узнаваемым и притягательным для туристов
								</div>
								<p>
									Каждый год в августе мы собираем гостей со всей страны и приглашаем более
									30 пивоварен, медоварен и сидроделен со всей России, чтобы познакомить вас с лучшими
									авторскими напитками
								</p>
							</div>
							<a href="https://fest.stepiveter.ru/" class="btn btn-orange">
								<span>Подробнее</span>
								<div class="btn-circle btn-circle-orange">
									<svg aria-hidden="true" width="17" height="16">
										<use xlink:href="img/sprite.svg#arrow1"></use>
									</svg>
								</div>
							</a>
						</div>
						<div class="block__right">
							<div class="block__titles">
								<div class="block__title">
									Как это было
								</div>
								<a href="https://t.me/+4uunZkwnwis4ODEy"
									class="btn-circle btn-circle-orange arrow-next">
									<svg aria-hidden="true" width="17" height="16">
										<use xlink:href="img/sprite.svg#arrow1"></use>
									</svg>
								</a>
							</div>
							<div class="block__pic">
								<img loading="lazy" src="img/image20.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-community block1">
				<div class="container">
					<div data-watch data-watch-once class="block-community__content watch">
						<h2 class="title2">
							Присоединяйтесь к нашему медовому сообществу
						</h2>
						<div class="block-community__body">
							<div class="block-community__column block-community-orange">
								<div class="block-community__top">
									<div class="block-community__titles">
										<div class="block-community__title">
											Читайте нас
										</div>
										<ul>
											<li>События</li>
											<li>Мероприятия</li>
											<li>Новинки</li>
											<li>Коллабы</li>
										</ul>
									</div>
									<div class="block-community__image">
										<img loading="lazy" src="img/image21.webp" alt="">
									</div>
								</div>
								<div class="block-community__bottom">
									<a target="_blank" href="https://vk.com/stepiveter">
										<span>Вконтакте</span>
										<div class="btn-circle btn-circle-orange">
											<svg aria-hidden="true" width="17" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</a>
									<a target="_blank" href="https://t.me/stepiveter">
										<span>Telegram</span>
										<div class="btn-circle btn-circle-orange">
											<svg aria-hidden="true" width="17" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</a>
								</div>
							</div>
							<div class="block-community__column">
								<div class="block-community__top">
									<div class="block-community__titles">
										<div class="block-community__title">
											Смотрите нас
										</div>
										<ul>
											<li>Степной подкаст</li>
											<li>Влог</li>
											<li>Туры</li>
											<li>Рецепты</li>
										</ul>
									</div>
									<div class="block-community__image">
										<img loading="lazy" src="img/image22.webp" alt="">
									</div>
								</div>
								<div class="block-community__bottom">
									<a target="_blank" href="https://www.youtube.com/c/stepiveter">
										<span>Youtube</span>
										<div class="btn-circle btn-circle-orange btn-circle-bg">
											<svg aria-hidden="true" width="17" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</a>
								</div>
							</div>
							<div class="block-community__column">
								<div class="block-community__top">
									<div class="block-community__titles">
										<div class="block-community__title">
											Отзывы о нас
										</div>
										<ul>
											<li>Рейтинги сортов</li>
											<li>отзывы покуптелей</li>
										</ul>
									</div>
									<div class="block-community__image">
										<img loading="lazy" src="img/image23.webp" alt="">
									</div>
								</div>
								<div class="block-community__bottom">
									<a target="_blank" href="https://untappd.com/SteppeNwind">
										<span>Untappd</span>
										<div class="btn-circle btn-circle-orange btn-circle-bg">
											<svg aria-hidden="true" width="17" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/scripts.njk' %}
	<div id="excursions" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<div class="popup__body">
					<div class="popup__top">
						<div class="popup__title">
							Записаться на экскурсию
						</div>
						<div data-close class="popup__close close">
							<svg aria-hidden="true" width="16" height="16">
								<use xlink:href="img/sprite.svg#close"></use>
							</svg>
						</div>
					</div>
					<p class="mini">
						Чтобы записаться позвоните по телефону или напишите в телеграм. Согласуем с вами дату и время.
					</p>
					<div class="popup__contacts contacts-popup">
						<div class="contacts-popup__column">
							<a href="tel:89325511666" class="contacts-popup__phone">8 (932) 551-16-66</a>
							<a href="https://t.me/atara_ksia" class="contacts-popup__social">
								<span>@atara_ksia</span>
								<svg aria-hidden="true" width="19" height="17">
									<use xlink:href="img/sprite.svg#telegram"></use>
								</svg>
							</a>
						</div>
						<div class="contacts-popup__column">
							<a href="tel:89058481865" class="contacts-popup__phone">8 (905) 848-18-65</a>
							<a href="https://t.me/TaproomSW" class="contacts-popup__social">
								<span>@TaproomSW</span>
								<svg aria-hidden="true" width="19" height="17">
									<use xlink:href="img/sprite.svg#telegram"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>