<!DOCTYPE html>
<html lang="ru">

<head>
    <title>B2B</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro main-block-intro block1">
                <div class="container">
                    <div class="block-intro__content">
                        <img src="img/bg2.webp" alt="" class="block-intro__bg">
                        <div data-watch data-watch-once class="block-intro__top top-block-intro watch">
                            <div class="top-block-intro__body">
                                <h1 class="title1">B2b</h1>
                                <p>
                                    Оптовые поставки от производителя
                                </p>
                            </div>
                            <div class="top-block-intro__image">
                                <img src="img/image24.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block block1">
                <div data-watch data-watch-once class="block-marguee watch">
                    <div class="block__center">
                        <p>
                            Станьте нашим партнёром
                        </p>
                        <p>
                            Станьте нашим партнёром
                        </p>
                        <p>
                            Станьте нашим партнёром
                        </p>
                        <p>
                            Станьте нашим партнёром
                        </p>
                    </div>
                </div>
            </div>

            <div class="block block-b2b block1">
                <div class="container">
                    <div data-watch data-watch-once class="block__content watch">
                        <div class="block__left">
                            <div class="block__top">
                                <h2 class="title2">
                                    Наши напитки в вашем заведении
                                </h2>
                                <div class="block__subtitle">
                                    в кегах и фасовке по выгодным условиям
                                </div>
                                <p>
                                    Доставим транспортной компанией в любой уголок России, страны ЕАЭС и за их пределы
                                </p>
                            </div>
                            <ul>
                                <li>Для предприятий HoReCa</li>
                                <li>Для розничных магазинов</li>
                                <li>Для оптовых сетей</li>
                            </ul>
                        </div>
                        <div class="block__right">
                            <div class="block__titles">
                                <div class="block__titles-top">
                                    <div class="block__title">
                                        Заказ на сайте
                                    </div>
                                    <p>
                                        Получаете доступ к личному кабинету и оформляете заказ прямо на сайте
                                    </p>
                                </div>
                                <a href="#" class="btn btn-orange">
                                    <span>Получить доступ</span>
                                    <div class="btn-circle btn-circle-orange">
                                        <svg aria-hidden="true" width="17" height="16">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="block__pic">
                                <video playsinline autoplay muted loop src="files/videos/video.mp4">
                                    <source src="files/videos/video.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block block-b2b-2 block1">
                <div class="container">
                    <div data-watch data-watch-once class="block__content watch">
                        <img loading="lazy" src="img/bg8.webp" alt="" class="block__bg">
                        <div class="block__left">
                            <div class="block__top">
                                <h2 class="title2">
                                    как начать сотрудничество
                                </h2>
                                <div class="block__subtitle">
                                    Оставьте заявку на партнёрство через форму на сайте
                                </div>
                                <p>
                                    Свяжемся с вами и обсудим подробности
                                </p>
                            </div>
                            <a href="#" class="btn btn-orange">
                                <span>Оставить заявку</span>
                                <div class="btn-circle btn-circle-orange">
                                    <svg aria-hidden="true" width="17" height="16">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="block__right">
                            <div class="block__pic">
                                <img loading="lazy" src="img/image25.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-distributors block1">
                <div class="container">
                    <div data-watch data-watch-once class="block-distributors__content watch">
                        <div class="block-distributors__left">
                            <div class="block-distributors__titles">
                                <h2 class="title2">
                                    Дистрибьюторы
                                </h2>
                                <p>
                                    вы можете получать заказы через
                                    партнёров-поставщиков
                                </p>
                            </div>
                            <div class="block-distributors__buttons">
                                <p>
                                    Если вы хотитте стать дистрибьютором наших вкусных напитков, свяжитесь с нами
                                </p>
                                <a href="#" class="block-distributors__button">Хочу стать дистирбьютором</a>
                            </div>
                        </div>
                        <div class="block-distributors__right">
                            <div class="block-distributors__slider swiper">
                                <div class="block-distributors__wrapper swiper-wrapper">
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image1.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">Craft Cartel</div>
                                                <div class="slide-block-distributors__subtitle">Москва</div>
                                            </div>
                                            <a href="https://craftcartel.ru/" class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image2.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">beer Dealer</div>
                                                <div class="slide-block-distributors__subtitle">Москва</div>
                                            </div>
                                            <a href="https://beerdealer.ru/catalog/alcohol"
                                                class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image3.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">marketbeer</div>
                                                <div class="slide-block-distributors__subtitle">Москва</div>
                                            </div>
                                            <a href="https://marketbeer.ru/#" class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image4.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">Найс бир</div>
                                                <div class="slide-block-distributors__subtitle">Москва</div>
                                            </div>
                                            <a href="https://www.nice-beer.ru/" class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image5.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">Вбт</div>
                                                <div class="slide-block-distributors__subtitle">Москва</div>
                                            </div>
                                            <a href="https://wbtraditions.ru/" class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image6.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">Бирибо</div>
                                                <div class="slide-block-distributors__subtitle">Санкт-Петербург</div>
                                            </div>
                                            <a href="http://beeribo.ru/" class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image7.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">Премиум сегмент</div>
                                                <div class="slide-block-distributors__subtitle">Краснодар</div>
                                            </div>
                                            <a href="https://drppr.ru/" class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image8.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">Рыбацкое дело</div>
                                                <div class="slide-block-distributors__subtitle">Санкт-Петербург</div>
                                            </div>
                                            <a href="https://fish-business.ru/" class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-distributors__slide slide-block-distributors swiper-slide">
                                        <div class="slide-block-distributors__image">
                                            <img loading="lazy" src="img/distributors/image9.webp" alt="">
                                        </div>
                                        <div class="slide-block-distributors__item">
                                            <div class="slide-block-distributors__titles">
                                                <div class="slide-block-distributors__title">Хмельные напитки</div>
                                                <div class="slide-block-distributors__subtitle">Москва</div>
                                            </div>
                                            <a href="https://www.hmelnovv.ru/#" class="btn-circle btn-circle-orange">
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-distributors__arrows">
                                <div class="block-distributors__arrow-prev btn-circle btn-circle-orange arrow-prev">
                                    <svg aria-hidden="true" width="7" height="12">
                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                    </svg>
                                </div>
                                <div class="block-distributors__arrow-next btn-circle btn-circle-orange arrow-next">
                                    <svg aria-hidden="true" width="7" height="12">
                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="block-forms block1">
                <div class="container">
                    <div data-watch data-watch-once class="block-forms__content watch">
                        <form data-dev data-popup-message="#thanks" action="#">
                            <div class="block-forms__top">
                                <h2 class="title2">
                                    Подпишись на рассылку и получи прайс-лист
                                </h2>
                                <ul>
                                    <li>Новые вкусы и лимитированные сорта</li>
                                    <li>Новости и события</li>
                                </ul>
                            </div>
                            <div class="block-forms__bottom">
                                <div class="block-forms__inputs">
                                    <div class="block-forms__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Введите имя">
                                        <div class="block-forms__placeholder">
                                            Ваше имя <span>*</span>
                                        </div>
                                    </div>
                                    <div class="block-forms__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Введите E-mail">
                                        <div class="block-forms__placeholder">
                                            E-mail <span>*</span>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-orange">Получить</button>
                            </div>
                            <div class="checkboxes">
                                <div class="checkbox">
                                    <input data-required id="c_1" class="checkbox__input" type="checkbox" value="1"
                                        name="form[]">
                                    <label for="c_1" class="checkbox__label">
                                        <span class="checkbox__icon">
                                            <svg aria-hidden="true" width="15" height="12">
                                                <use xlink:href="img/sprite.svg#chek1"></use>
                                            </svg>
                                        </span>
                                        <span class="checkbox__text">Я согласен
                                            получать информационную и рекламную рассылки</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input data-required id="c_2" class="checkbox__input" type="checkbox" value="1"
                                        name="form[]">
                                    <label for="c_2" class="checkbox__label">
                                        <span class="checkbox__icon">
                                            <svg aria-hidden="true" width="15" height="12">
                                                <use xlink:href="img/sprite.svg#chek1"></use>
                                            </svg>
                                        </span>
                                        <span class="checkbox__text">
                                            Даю <a href="#" target="_blank">согласие</a> на обработку моих персональных
                                            данных в
                                            соответствии с
                                            <a href="#" target="_blank">политикой обработки персональных данных</a>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </form>
                        <div class="block-forms__right">
                            <div class="block-forms__columns">
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image1.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image2.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image3.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image4.webp" alt="">
                                </div>
                            </div>
                            <div class="block-forms__columns">
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image5.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image6.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image7.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image8.webp" alt="">
                                </div>
                            </div>
                            <div class="block-forms__columns block-forms__columns--reverse">
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image9.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image10.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image11.webp" alt="">
                                </div>
                                <div class="block-forms__column">
                                    <img loading="lazy" src="img/products/image12.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    <div id="thanks" aria-hidden="true" class="popup">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div class="popup__body">
                    <div class="popup__top">
                        <div class="popup__title">
                            Подписка прошла успешно
                        </div>
                        <div data-close class="popup__close close">
                            <svg aria-hidden="true" width="16" height="16">
                                <use xlink:href="img/sprite.svg#close"></use>
                            </svg>
                        </div>
                    </div>
                    <p>
                        На указанную почту мы отправили приветственное письмо с оптовым прайсом.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>