<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Где купить</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro main-block-intro block-intro-buy block1">
                <div class="container">
                    <div class="block-intro__content">
                        <img src="img/bg9.webp" alt="" class="block-intro__bg">
                        <div data-watch data-watch-once class="block-intro__top top-block-intro watch">
                            <div class="top-block-intro__body">
                                <h1 class="title1">Где купить</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-map block1">
                <div class="container">
                    <div data-watch data-watch-once class="block-map__content watch">
                        <div class="block-map__body">
                            <div class="block-map__left">
                                <div class="block-map__select">
                                    <select name="form[]" class="form">
                                        <option value="0">Malmö</option>
                                        <option value="1">Uppsala</option>
                                        <option value="2">Абакан</option>
                                        <option value="3">Алматы</option>
                                        <option value="5">Армавир </option>
                                        <option value="6">Астана</option>
                                        <option value="7">Астрахань </option>
                                        <option value="8">Барнаул</option>
                                        <option value="9">Батуми</option>
                                        <option value="10">Белгород</option>
                                        <option value="12">Бийск</option>
                                        <option value="13">Братск</option>
                                        <option value="14">Брянск</option>
                                        <option value="15">Бузулук </option>
                                        <option value="16">Владивосток</option>
                                        <option value="17">Владимир</option>
                                        <option value="18">Волгоград</option>
                                        <option value="19">Волгодонск</option>
                                        <option value="20">Волжский </option>
                                        <option value="21">Воронеж</option>
                                        <option value="22">Гомель</option>
                                        <option value="23">Дальнегорск</option>
                                        <option value="24">Екатеринбург</option>
                                        <option value="25">Ессентуки</option>
                                        <option value="26">Иваново</option>
                                        <option value="27">Ижевск</option>
                                        <option value="28">Иннополис</option>
                                        <option value="29">Иркутск </option>
                                        <option value="30">Казань</option>
                                        <option value="31">Казахстан г. Уральск </option>
                                        <option value="32">Калининград </option>
                                        <option value="33">Каменск-Уральск</option>
                                        <option value="34">Караганда</option>
                                        <option value="35">Кемерово</option>
                                        <option value="36">Ковров</option>
                                        <option value="37">Комсомольск-на-Амуре</option>
                                        <option value="38">Краснодар</option>
                                        <option value="39">Красноярск</option>
                                        <option value="40">Курган </option>
                                        <option value="42">Магнитогорск</option>
                                        <option value="43">Минск</option>
                                        <option value="44">Мичуринск</option>
                                        <option value="45">Москва</option>
                                        <option value="46">Мытищи</option>
                                        <option value="47">Набережные Челны</option>
                                        <option value="48">Наро-Фоминск</option>
                                        <option value="50">Нижнекамск</option>
                                        <option value="51">Нижний Новгород</option>
                                        <option value="52">Нижний Тагил</option>
                                        <option value="53">Новороссийск</option>
                                        <option value="54">Новосибирск</option>
                                        <option value="55">Новоуральск</option>
                                        <option value="56">Омск</option>
                                        <option value="58">Оренбург</option>
                                        <option value="59">Пенза</option>
                                        <option value="60">Пермь</option>
                                        <option value="61">Петрозаводск</option>
                                        <option value="62">Пятигорск</option>
                                        <option value="64">Ростов-на-Дону</option>
                                        <option value="65">Рязань</option>
                                        <option value="66">Салехард</option>
                                        <option value="67">Самара</option>
                                        <option value="68">Санкт-Петербург</option>
                                        <option value="69">Саратов</option>
                                        <option value="70">Смоленск</option>
                                        <option value="71">Сочи</option>
                                        <option value="73">Суздаль</option>
                                        <option value="74">Сургут</option>
                                        <option value="75">Сызрань </option>
                                        <option value="76">Таганрог</option>
                                        <option value="77">Тамбов</option>
                                        <option value="78">Тольятти</option>
                                        <option value="79">Тюмень</option>
                                        <option value="80">Ульяновск </option>
                                        <option value="81">Усть-Каменогорск </option>
                                        <option value="82">Уфа</option>
                                        <option value="83">Ханты-Мансийск </option>
                                        <option value="84">Чебоксары</option>
                                        <option value="85">Челябинск</option>
                                        <option value="86">Ярославль</option>
                                    </select>
                                </div>
                                <div class="block-map__cities">
                                    <div data-simplebar class="block-map__simplebar">
                                        <ul>
                                            <li>Пенный boom - улица Терешковой, 10</li>
                                            <li>Пенный boom - Северный проезд, 20/1</li>
                                            <li>Пенный boom - Шарлыкское шоссе, 21</li>
                                            <li class="_active">Лебовски - Салмышская улица, 34/1</li>
                                            <li>Галина - Матросский переулок, 1</li>
                                            <li>Танцевули - Загородное шоссе, 36/2с7</li>
                                            <li>Choppers - Инверторная улица, 37/1</li>
                                            <li>Браухоф - Новая улица, 4/5</li>
                                            <li>Крафт - Промысловый проезд, 3</li>
                                            <li>Крафт - улица Дорофеева, 5</li>
                                            <li>Крафт - Транспортная улица, 18/2</li>
                                            <li>Choppers - Инверторная улица, 37/1</li>
                                            <li>Браухоф - Новая улица, 4/5</li>
                                            <li>Крафт - Промысловый проезд, 3</li>
                                            <li>Крафт - улица Дорофеева, 5</li>
                                            <li>Крафт - Транспортная улица, 18/2</li>
                                        </ul>
                                    </div>
                                </div>
                                <div data-da=".block-map__body, 992, last" class="block-map__bottom">
                                    <span>Для партнёров:</span>
                                    <span>
                                        Если вы хотите добавиться или пропасть с карты, пишите на
                                        почту <a href="mailto:sales@stepiveter.ru">sales@stepiveter.ru</a>
                                    </span>
                                </div>
                            </div>
                            <div class="block-map__right">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-marketplaces block1">
                <div class="container">
                    <div data-watch data-watch-once class="block-marketplaces__content watch">
                        <img loading="lazy" src="img/image27.webp" alt="" class="block-marketplaces__bg">
                        <div class="block-marketplaces__body">
                            <div class="block-marketplaces__top">
                                <div class="block-marketplaces__titles">
                                    <h2 class="title2">
                                        Чай Степь и ветер на маркетплэйсах
                                    </h2>
                                    <p>
                                        Закажи онлайн холодный безалкогольный чай
                                    </p>
                                </div>
                                <a href="#" class="btn-circle btn-circle-orange arrow-next">
                                    <svg aria-hidden="true" width="17" height="16">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="block-marketplaces__bottom">
                                <a href="#" class="block-marketplaces__button">
                                    <span>Купить на Yandex.Market</span>
                                    <img loading="lazy" src="img/marketplace1.webp" alt="">
                                </a>
                                <a href="#" class="block-marketplaces__button">
                                    <span>Купить на Ozon</span>
                                    <img loading="lazy" src="img/marketplace2.webp" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    {% include 'blocks/scripts.njk' %}

</body>